USUARIO_URL=http://localhost:8080/usuario
AGENDADOR_TAREFA_URL=http://localhost:8081/tarefa
NOTIFICACAO_URL=http://localhost:8082/email
SERVER_PORT=8084
CRON_HORARIO=0 0/5 * * * ?
USUARIO_EMAIL=seu_email_aqui
USUARIO_SENHA=sua_senha_aqui